* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    color: #333;
    font-family: "Source Sans 3", sans-serif;
}

.hero-section {
    width: 100%;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0)), 
                      url('images/banner.png');
    background-size: auto;
    background-position: center;
    display: flex;
    position: relative;
    padding-bottom: 50px;
}

.hero-content {
    color: black;
    z-index: 1;
    max-width: 800px;
    margin: 130px 0 0 80px;
}

.hero-content h1 {
    margin-bottom: 25px;
    font-family: Source Sans Pro;
    font-size: 32px;
    font-style: italic;
    font-weight: 400;
    line-height: 44px;
    text-align: left;

}

.hero-content h2 {
    font-family: Source Sans Pro;
    font-size: 40px;
    font-weight: 600;
    text-align: left;
}

.hero-content h3 {
    margin-bottom: 40px;
    font-size: 40px;
    font-weight: 300;
}

.wrap {
    width: 100%;
    flex-direction: column;
}

.banner-list {
    list-style-type: none;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
}

.banner-list li {
    display: flex;
    font-size: 18px;
    margin: 0 130px 40px 0;

}

.banner-list img {
    margin-right: 10px;
}

.cta-button {
    background-color: #f8a05e;
    color: white;
    border: none;
    padding: 15px 30px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
    width: 320px;
    margin-left: calc(50% - 160px);
}

.cta-button:hover {
    background-color: #e68b4a;
}

.about-section {
    margin: 100px 100px 0 100px;
}

.about-section h2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 40px;
}

.about-section p {
    font-size: 24px;
    margin: 40px 0;
    line-height: 30px;
}

.center-p {
    margin-left: calc(50% - 550px);
}

.center-p p {
    line-height: 40px;
    font-size: 32px;
    margin: 0;
    text-align: center;
    width: 1100px;
}

.highlight {
    color: #f8a05e;
    font-weight: bold;
}

.benefits-section {
    margin-top: 70px;
    text-align: center;
    padding: 50px;
    background-color: #fff;
}

.benefits-section h2 {
    font-size: 32px;
    margin-bottom: 30px;
}

.benefits-grid {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.benefit-row {
    display: flex;
    margin-bottom: 20px;
}

.benefit-item {
    display: none;
}

.benefit-row img, .benefit-item img {
    width: 280px;
    height: 200px;
    height: auto;
    border-radius: 5px;
}

.benefit-row p, .benefit-item img {
    width: 280px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    margin-left: 15px;
    font-size: 18px;
    line-height: 1.5;
    color: #333;
}

.why-calendar-section {
    padding: 50px;
    background-color: #fff;
}

.why-calendar-section h2 {
    font-size: 28px;
    text-align: center;
    margin-bottom: 30px;
}

.wrap-reason {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    margin-bottom: 60px;
}

.reasons-row {
    width: 1300px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.reason-item {
    display: flex;
    width: 600px;
}

.icon-circle {
    margin-right: 20px;
}

.icon-circle img {
    width: 40px;
    height: 40px;
    border: 2px solid #e5e5e5;
    border-radius: 50%;
    padding: 12px;
}

.reason-text h3 {
    font-size: 24px;
    margin-bottom: 5px;
    text-align: left;
}

.reason-text p {
    text-align: left;
    font-size: 20px;
    line-height: 1.6;
    color: #555;
}

.call-to-action {
    margin-top: 30px;
}

.call-to-action p {
    font-size: 18px;
    line-height: 1.6;
}

.highlight {
    color: #f8a05e;
    font-weight: bold;
}

.pricing-section {
    padding: 50px;
    text-align: center;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pricing-section h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.highlight-text {
    color: #f8a05e;
    font-size: 30px;
    margin-bottom: 10px;
}

.note {
    font-size: 14px;
    color: #777;
    margin-bottom: 30px;
}

.countdown-timer {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 40px;
}

.timer-block {
    text-align: center;
}

.time {
    font-size: 64px;
}

.label {
    font-size: 16px;
    color: #555;
}

.pricing-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.pricing-card {
    width: 300px;
    padding-top: 30px;
    background-color: #f8a05e;
    color: white;
}

.pricing-card h3 {
    font-size: 24px;
    margin-bottom: 15px;
    border-bottom: 1px solid #F5F5F5;
    padding-bottom: 15px;
}

.price {
    margin-top: 30px;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
}

.old-price {
    font-size: 16px;
    margin-bottom: 10px;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 600;
    padding: 0 30px;
    height: 200px;
}

.pricing-grey {
    color: black;
    background: #F5F5F5;
}

.pricing-button {
    width: 90%;
    height: 50px;
    margin: 0 10px;
    background-color: #f8a05e;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 18px;
    margin-bottom: 20px;
}

.faq-section {
    padding: 50px;
    text-align: center;
    background-color: #fff;
}

.faq-section h2 {
    font-size: 36px;
    margin-bottom: 30px;
}

.faq-item {
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 10px;
    cursor: pointer;
}

.faq-question {
    font-size: 24px;
    font-weight: bold;
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq-answer {
    font-size: 20px;
    display: none;
    padding: 10px 0;
    color: #333;
    text-align: left;
}

.faq-icon {
    font-size: 30px;
    transition: transform 0.3s ease;
}

.faq-item.active .faq-answer {
    display: block;
}

.faq-item.active .faq-icon {
    transform: rotate(45deg); /* Changes + to X */
}

.faq-footer {
    margin-top: 30px;
}

.faq-footer h3 {
    margin-top: 50px;
    font-size: 36px;
    margin-bottom: 10px;
}

.faq-footer p {
    font-size: 32px;
    margin-bottom: 20px;
}

.faq-button {
    background-color: #f8a05e;
    color: white;
    padding: 10px 20px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    width: 260px;
    height: 62px;
}

.cta-button:hover {
    background-color: #e68b4a;
}

@media (max-width: 1400px) {
    .reasons-row {
        width: auto;
    }
}

@media (max-width: 1200px) {
    .center-p {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 0;
    }
    
    .center-p p {
        width: auto;
        line-height: 28px;
        font-size: 24px;
        margin: 0;
    }

    .benefit-row {
        width: 100%;
        justify-content: center;
    }

    .benefit-row img {
        width: 200px;
        height: 120px;
    }
    
    .benefit-row p {
        width: 200px;
        height: 120px;
        font-size: 14px;
    }

    .reasons-row {
        flex-direction: column;
    }

    .reason-item {
        margin-bottom: 40px;
    }
}

@media (max-width: 1000px) {
    .pricing-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }

    .pricing-card:nth-child(3) {
        grid-column: 1 / span 2; /* Make the last item span two columns */
        justify-self: center; /* Center it within the grid */
    }
}

@media (max-width: 860px) {
    .benefit-row {
        display: none;
    }

    .benefit-item {
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
        width: 280px;
    }

    .benefit-item p {
        width: 100%;
        text-align: justify;
    }

    .benefit-item img {
        margin-left: 0;
    }
}

@media (max-width: 700px) {
    .about-section {
        margin: 60px 20px 0 20px;
    }

    .hero-content {
        margin: 90px 0 0 30px;
    }

    .about-section p {
        font-size: 18px;
    }

    .benefits-section h2 {
        font-size: 24px;
        margin-bottom: 20px;
    }

    .benefits-section {
        margin-top: 40px;
        padding: 10px;
    }

    .why-calendar-section h2 {
        font-size: 24px;
    }

    .reason-text h3 {
        font-size: 18px;
    }
    
    .reason-text p {
        font-size: 16px;
        line-height: 1.3;
    }

    .center-p p {
        font-size: 18px;
    }

    .highlight {
        font-size: 20px;
    }

    .wrap-reason {
        margin-bottom: 20px;
    }

    .pricing-grid {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .pricing-card {
        width: 80%;
    }
}

@media (max-width: 635px) {
    .icon-circle {
        display: none;
    }

    .reason-item {
        width: auto;
    }

    .faq-footer {
        margin-top: 15px;
    }
    
    .faq-footer h3 {
        font-size: 28px;
        margin-bottom: 10px;
    }
    
    .faq-footer p {
        font-size: 22px;
        margin-bottom: 15px;
    }
    
    .faq-button {
        font-size: 14px;
        width: 200px;
        height: 48px;
    }
    

    .faq-section {
        padding: 25px;
    }
    
    .faq-section h2 {
        font-size: 24px;
        margin-bottom: 15px;
    }
    
    .faq-question {
        font-size: 18px;
        text-align: left;
    }
    
    .faq-answer {
        font-size: 16px;
    }
    
    .faq-icon {
        font-size: 22px;
    }
}